.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 5;

  @media screen and (max-width: 480px) {
    position: absolute;
    flex-direction: column;
    padding-top: 20px;
    gap: 15px;
  }
}

.left {
  width: 20%;

  @media screen and (max-width: 480px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    height: 30px;
  }
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.right {
  width: 20%;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 480px) {
  }
}
